%% -*- mode: erlang -*-
[{shelly, [{enabled, false}]},

 {kernel, [{logger_level, debug},
           {logger,
            [{filters, log, [{stop_progress, {fun logger_filters:progress/2, stop}}]},
             {handler,
              default,
              logger_std_h,
              #{formatter => {logger_formatter,
                              #{template => [[logger_formatter, header],
                                             {pid, [" ", pid, ""], ""},
                                             {mfa, [" ", mfa, ":", line], ""},
                                             "\n",
                                             msg,
                                             "\n"],
                                legacy_header => true,
                                single_line => false}}}}]}]},

 {awscog, [{user_pool_id, "eu-west-1_U6SsXCYop"},
           {user_pool_client_id, "22n4lej0u6rn14p4nstueaaos6"},
           {aws_access_key, "AKIAJCUSA3P6D4F75IJA"},
           {aws_secret_key, "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"}]},




 {mqtent, [{mqtt_host, "dev.betler-dev.superbet.com"},
           {mqtent_ws_trace, false},
           {mqtt_trace, false},
           {mqtt_path, "/ws/"}]},

 {mecs, [{push_url, <<"undefined">>},
         {http_enabled, false}]}


].
